.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.Login-Window {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    box-shadow: 1px 2px 6px rgb(149, 149, 149);
}
.Login-Left {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: var(--Navy);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Left-Logo img {
    width: 265px;
}
.Login-Right {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Right-Container {
    padding-top: 40px;
    min-width: 95%;
    min-height: 61%;
}
.Right-Container h1, .Right-Container div {
    padding-bottom: 20px;
}
.Right-Container h1 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
    padding-left: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
}
.Login-Field {
    width: 90%;
    padding-left: 10px;
}
.Login-Field input {
    width: 100%;
    border: none;
    font-size: 1em;
    height: 30px;
    padding-left: 10px;
}
.Login-Field input:focus {
    outline: none;
    border: 2px solid rgb(115, 115, 115);
}
.Forgot-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}
.forgot {
    border: none;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 10px;
}
.Login-Action {
    display: flex;
    justify-content: flex-end;
}
.login {
    text-transform: uppercase;
    padding: 10px;
    justify-self: flex-end;
    margin-right: 10px;
}
/*
.Login-GoBack {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
#arrow-left {
    width: 12px;
    align-self: flex-end;
    color: white;
}
#go-back {
    color: white;
    z-index: 2;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Window-Logo {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Navy);
}
.Window-Logo img {
    width: 260px;
}

.Login-Content {
    flex: 1;
    margin: 0 1.2em;
    height: 60%;
}

.Login-Content h1 {
    font-weight: 400;
    text-align: left;
    padding-left: .5em;
    font-size: 1.5em;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.Login-Field {
    width: 90%;
    padding-left: 10px;
}
.Login-Field input {
    width: 100%;
    border: none;
    font-size: 1em;
    height: 30px;
    padding-left: 10px;
}
.Login-Field input:focus {
    outline: none;
    border: 2px solid rgb(115, 115, 115);
}

.Forgot-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 20px;
}
.forgot {
    border: none;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 10px;
}
.Login-Action {
    display: flex;
    justify-content: flex-end;
}
.login {
    text-transform: uppercase;
    padding: 10px;
    justify-self: flex-end;
    margin-right: 10px;
} */