.Register {
    --infoColor: #231745;
    --labelColor: #5b6570;
    --inputPalceholderColor: rgb(205, 205, 205);

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}
.Register-Container {
    min-width: 600px;
    min-height: max-content;
    box-shadow: 1px 2px 6px rgb(149, 149, 149);
    padding-bottom: 100px;
}
.Register-Logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Navy);
    height: 250px;
}
#register-logo {
    width: 450px;
}
.Register-Content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 10px;
}
.Register-Content h1 {
    align-self: flex-start;
    font-weight: 400;
    font-size: 1.5em;
}
#help-text {
    align-self: flex-start;
    font-style: italic;
    font-size: .9em;
    color: var(--labelColor);
}
#login-redirect {
    align-self: flex-end;
    padding: 9px 12px;
    font-size: 12.6px;
    text-transform: uppercase;
    background-color: var(--Navy);
    border: none;
    color: white;
}
/* FORM */
.Register-Form  {
    width: 100%;
    display: flex;
    gap: 20px;
}
.Form-Info {
    font-size: 14px;
    color: var(--infoColor);
}